@import "tailwindcss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.leaflet-container {
  width: 100%;
  height: 100%;
  z-index: 0;
}

.leaflet-div-icon {
  background: transparent;
  border: none;
}
